# Aion Dream Server Configuration File
#
# Server : <SERVER_NAME>
#
#
database.driver = com.mysql.jdbc.Driver
database.url = jdbc:mysql://esx01-1.aion-dream.net:3306/aion_world_prod?useUnicode=true&characterEncoding=UTF-8
database.user = aion
database.password = 6fa4be308ef0335144b8997b66e0bf03
database.connections.min = 5
database.connections.max = 10
database.scriptcontext.descriptor = ./data/scripts/system/database.xml