# Aion Dream Server Configuration File
#
# Server : <SERVER_NAME>
#
#
database.driver = com.mysql.jdbc.Driver
database.url = jdbc:mysql://esx01-1.aion-dream.net:3306/aion_world_prod?useUnicode=true&characterEncoding=UTF-8
database.user = aion
database.password = 6fa4be308ef0335144b8997b66e0bf03
database.connections.min = 5
database.connections.max = 10
database.scriptcontext.descriptor = ./data/scripts/system/database.xml

gameserver.network.client.port = 7777
gameserver.network.client.host = *
gameserver.network.client.maxplayers = 300
gameserver.network.login.address = localhost:9014
gameserver.network.login.gsid = 40
gameserver.network.login.password =fDq46VuNJPO4rJjJwZXuVh5iM9wmSa
gameserver.network.chat.address = localhost:9021
gameserver.network.chat.password = aionchatpwd
gameserver.network.nio.threads.read = 0
gameserver.network.nio.threads.write = 0
gameserver.network.display.unknownpackets = false

gameserver.administration.gmlevel = 3
gameserver.administration.command.ai = 3
gameserver.administration.command.add = 1
gameserver.administration.command.addset = 3
gameserver.administration.command.adddrop = 3
gameserver.administration.command.addskill = 2
gameserver.administration.command.addtitle = 1
gameserver.administration.command.advsendfakeserverpacket = 3
gameserver.administration.command.announce = 1
gameserver.administration.command.announce_faction = 3
gameserver.administration.command.bk = 3
gameserver.administration.command.configure = 3
gameserver.administration.command.deletespawn = 2
gameserver.administration.command.goto = 1
gameserver.administration.command.givemissingskills = 2
gameserver.administration.command.heal = 2
gameserver.administration.command.info = 1
gameserver.administration.command.invis = 1
gameserver.administration.command.invul=1
gameserver.administration.command.kick = 3
gameserver.administration.command.kill = 2
gameserver.administration.command.moveplayertoplayer = 1
gameserver.administration.command.moveto = 1
gameserver.administration.command.movetome = 1
gameserver.administration.command.movetoplayer = 1
gameserver.administration.command.notice = 1
gameserver.administration.command.promote = 3
gameserver.administration.command.questcommand = 2
gameserver.administration.command.reload = 2
gameserver.administration.command.reloadspawns = 3
gameserver.administration.command.revoke = 3
gameserver.administration.command.savespawndata = 3
gameserver.administration.command.sendfakeserverpacket = 3
gameserver.administration.command.sendrawpacket = 3
gameserver.administration.command.setclass = 2
gameserver.administration.command.setexp = 2
gameserver.administration.command.setlevel = 2
gameserver.administration.command.settitle = 1
gameserver.administration.command.spawnnpc = 2
gameserver.administration.command.speed = 1
gameserver.administration.command.system = 3
gameserver.administration.command.unloadspawn = 3
gameserver.administration.command.unstuck = 1
gameserver.administration.command.weather = 2
gameserver.administration.command.zone = 1
gameserver.administration.command.legion = 2
gameserver.administration.command.remove = 1
gameserver.administration.command.playerinfo = 3
gameserver.administration.command.prison = 2
gameserver.administration.command.invis=2
gameserver.administration.command.movetomeallall= 1
gameserver.administration.command.movetomeallelyos= 1
gameserver.administration.command.movetomeallasmos= 1
gameserver.administration.command.ban=3
gameserver.administration.command.unban=3
gameserver.administration.command.morph=2

gameserver.cache.softcache = false
gameserver.cache.players = false
gameserver.cache.pcd = false
gameserver.cache.accounts = false

gameserver.factions.speaking.mode = 0
gameserver.skill.autolearn = false
gameserver.stigma.autolearn = false
gameserver.disable.mob.aggro = false
gameserver.enable.simple.2ndclass = false
gameserver.unstuck.delay = 1800
gameserver.instances.enable = true
gameserver.base.flytime = 60
gameserver.cross.faction.binding = false
gameserver.fall.damage.active = true
gameserver.fall.damage.percentage = 1.0
gameserver.fall.damage.distance.minimum = 10
gameserver.fall.damage.distance.maximum = 50
gameserver.fall.damage.distance.midair = 200
gameserver.manastone.percent  = 57
gameserver.manastone.percent1 = 43
gameserver.manastone.percent2 = 33
gameserver.manastone.percent3 = 25
gameserver.manastone.percent4 = 19
gameserver.manastone.percent5 = 2

gameserver.name = Aion Dream
gameserver.character.name.pattern = [a-zA-Z]{2,16}
gameserver.country.code = 2
gameserver.mode = 1
gameserver.disable.chatserver = true

gameserver.playergroup.removetime = 10000
gameserver.playergroup.maxdistance = 300

gameserver.legion.pattern = [a-zA-Z ]{2,16}
gameserver.legion.selfintropattern = [a-zA-Z]{2,25}
gameserver.legion.nicknamepattern = [a-zA-Z]{2,10}
gameserver.legion.announcementpattern = [a-zA-Z .,]{2,120}

gameserver.legion.disbandtime = 86400
gameserver.legion.disbanddifference = 604800
gameserver.legion.creationrequiredkinah = 10000
gameserver.legion.emblemrequiredkinah = 10000
gameserver.legion.level2requiredkinah = 100000
gameserver.legion.level3requiredkinah = 1000000
gameserver.legion.level4requiredkinah = 2000000
gameserver.legion.level5requiredkinah = 6000000
gameserver.legion.level2requiredmembers = 10
gameserver.legion.level3requiredmembers = 20
gameserver.legion.level4requiredmembers = 30
gameserver.legion.level5requiredmembers = 40
gameserver.legion.level2requiredcontribution = 0
gameserver.legion.level3requiredcontribution = 20000
gameserver.legion.level4requiredcontribution = 100000
gameserver.legion.level5requiredcontribution = 500000
gameserver.legion.level1maxmembers = 30
gameserver.legion.level2maxmembers = 60
gameserver.legion.level3maxmembers = 90
gameserver.legion.level4maxmembers = 120
gameserver.legion.level5maxmembers = 150
gameserver.legion.warehouse = true
gameserver.legion.inviteotherfaction = false
gameserver.legion.ranking.periodicupdate = 1200

gameserver.periodicsave.player.general = 900
gameserver.periodicsave.player.items = 900
gameserver.periodicsave.legion.items = 1200
gameserver.periodicsave.broker = 1500

gameserver.rate.regular.group.xp = 2
gameserver.rate.premium.group.xp = 4
gameserver.rate.regular.xp = 2
gameserver.rate.regular.drop = 1
gameserver.rate.regular.gathering.xp = 1
gameserver.rate.regular.crafting.xp = 1
gameserver.rate.regular.quest.xp = 1
gameserver.rate.regular.quest.kinah = 1
gameserver.rate.regular.ap.player = 5
gameserver.rate.regular.ap.npc = 5
gameserver.rate.premium.xp = 2
gameserver.rate.premium.drop = 2
gameserver.rate.premium.gathering.xp = 1
gameserver.rate.premium.crafting.xp = 1
gameserver.rate.premium.quest.xp = 2
gameserver.rate.premium.quest.kinah = 2
gameserver.rate.premium.ap.player = 5
gameserver.rate.premium.ap.npc = 5
gameserver.rate.gather.xp.char=1
gameserver.rate.gather.xp.skill=3

gameserver.shutdown.mode = 1
gameserver.shutdown.delay = 60
gameserver.shutdown.interval = 10
gameserver.shutdown.safereboot = true

gameserver.deadlock.enable = false
gameserver.deadlock.interval = 300

thread.basepoolsize = 2
thread.threadpercore = 4
thread.runtime = 12000